<div class="card">
  <div class="card_header">
    <h3>{{title}}</h3>
    <p>Posted by {{user.name}} on {{post_date}}</p>
  </div>
  <div class="card_body">
    {{content}}
  </div>
</div>
<div class="card">
  <div class="card_header">
    {{#each comments as |comment|}}
      <div class="card_body">
        {{comment.comment}}
        {{comment.user.name}}
      </div>

    {{/each}}
  </div>
</div>