<div class="card">
  <div class="card_header">
    <h3>{{title}}</h3>
    <p>Posted by {{user.name}} on {{format_date post_date}}</p>
  </div>
  <div class="card_body">
    {{content}}
  </div>
</div>

{{#each comments as |comment|}}
  <div class="card">
    <div class="card_header">

      <div class="card_body">

        <p>{{comment.comment}}</p>
        <p>-{{comment.user.name}} {{format_date comment_date}}</p>

      </div>

    </div>
  </div>
{{/each}}